/* Estilos para la barra de navegación */
nav {
   display: grid; /* Utilizar un grid layout */
   grid-template-columns: 1fr auto; /* Columnas con proporciones flexibles y un ancho automático */
   align-items: center; /* Centrar verticalmente los elementos */
   background: #EDC557; /* Color de fondo */
   font-family: sans-serif; /* Tipo de fuente */
   position: fixed; /* Fijar la barra de navegación en la parte superior */
   top: 0; /* Distancia desde la parte superior */
   width: 100%; /* Ancho completo */
}

/* Estilos para el logotipo en la barra de navegación */
nav .logo {
   width: 100px; /* Ancho del logo */
   height: auto; /* Altura automática para mantener la proporción */
   font-size: 12px; /* Tamaño de la fuente */
   font-weight: black; /* Peso de la fuente */
}

/* Estilos para el menú de navegación en la barra */
nav .barnav {
   display: grid; /* Utilizar un grid layout */
   grid-template-columns: repeat(4, auto); /* Crear 4 columnas con ancho automático */
   margin-right: 30px; /* Margen derecho */
}

/* Estilos para cada elemento del menú de navegación */
nav .barnav div {
   padding: 10px 20px; /* Relleno interno */
}

/* Estilos cuando se pasa el ratón por encima de los elementos del menú */
nav .barnav div:hover {
   cursor: pointer; /* Cambiar el cursor a una mano */
   background: #dab54f; /* Cambiar el color de fondo */
}

/* Estilos para el contenido principal */
.contenido {
   height: 1100px; /* Altura */
   margin-top: 60px; /* Margen superior */
}

/* Estilos para centrar el contenedor horizontalmente */
.contenedor-centrado {
   display: flex; /* Utilizar un flexbox */
   justify-content: center; /* Centrar horizontalmente */
   width: 100%; /* Ocupar todo el ancho de la página */
   margin-top: 60px; /* Margen superior */
}

/* Estilos para las imágenes */
img {
   max-width: 100%; /* Imágenes responsivas */
   height: auto; /* Altura automática para mantener la proporción */
   width: auto; /* Ancho automático */
   margin: 10px 0; /* Agregar un margen superior e inferior */
   display: block; /* Convertir la imagen en un bloque para centrarla */
}

/* Estilos para el contenedor de las imágenes */
.contenedor-imagenes {
   display: flex; /* Mostrar imágenes en línea */
   flex-direction: column; /* Colocar las imágenes en una columna */
   align-items: center; /* Centrar horizontalmente las imágenes */
   gap: 20px; /* Espacio entre las imágenes */
}

/* Agregar efecto hover a las imágenes */
img:hover {
   cursor: pointer; /* Cambiar el cursor a una mano */
   filter: brightness(0.8); /* Reducir la luminosidad al 80% */
   transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el mouse */
}
