nav{
   display:grid;
   grid-template-columns: 1fr auto;
   align-items: center;
   background: rgb(255, 255, 79);
   font-family: sans-serif;
   position:fixed;
   top:0;
   width:100%;
}
nav .logo{
   font-size: 24px;
   font-weight:black;
}
nav .barnav{
   display:grid;
   grid-template-columns: repeat(4,auto);
   margin-right: 30px;
}
nav .barnav div{
   padding: 10px 20px;
}
nav .barnav div:hover{
   cursor: pointer;
   background:rgb(221, 221, 68);
}
.contenido{
   height: 1100px;
   margin-top: 60px; 
}