* {
   margin: 0;  /* Eliminamos los margénes predeterminados del navegador */
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   padding: 90px 20px 0;   /* Padding para que no se junte el body con la barra de navegación y no se pegue a los bordes */
}

/* Cabecera */
.header {
   background-color: #EDC557;
   height: 80px;
   position: fixed;  /* Para que se quede fijo si hago scroll */
   width: 100%;
   top: 0;
   left: 0;
}

/* Barra de la navegación */
.nav {
   display: flex;
   justify-content: space-between;  /* Para que queden separados en izquierda y derecha */

   /* Para hacer responsive la barra del navegador */
   max-width: 992px; /* Ancho de máximo */
   margin: 0 auto;
}

.nav-link {
   color: rgb(0, 0, 0);
   text-decoration: none;
}

.logo {
   font-size: 30px;
   font-weight: bold;
   padding: 0 40px;
   line-height: 80px;

}

.nav-menu {
   display: flex;
   margin-right: 40px;
   list-style: none;
}

.nav-menu-item {
   font-size: 18px;
   margin: 0 10px;
   line-height: 80px;
   text-transform: uppercase;
   width: max-content;
}

/* Sombreado de los elementos de la barra */
.nav-menu-link {
   padding: 8px 12px;
   border-radius: 3px;
}

.nav-menu-link:hover {
   background-color: #ae903f;
   transition: .5s;  /* Para que la transición al pasar el cursos sea suave*/
}

.nav-toggle {
   color:white;
   background-color: none;
   border: none;
   font-size: 100px;
   padding: 0 20px;
   line-height: 60px;

   display: none;
}

/* Este estilo se aplica solo cuando tengo menos de 768px */
/* @media (max-width: 768px) {
   
} */

