/* Barra de navegación */
* {
    margin: 0;  /* Eliminamos los margénes predeterminados del navegador */
    box-sizing: border-box;
 }
 
 body {
    font-family: sans-serif;
    padding: 90px 20px 0;   /* Padding para que no se junte el body con la barra de navegación y no se pegue a los bordes */
 }
 
 /* Cabecera */
 .header {
    background-color: #EDC557;
    height: 80px;
    position: fixed;  /* Para que se quede fijo si hago scroll */
    width: 100%;
    top: 0;
    left: 0;
 }
 
 /* Barra de la navegación. Para colocar los elementos dentro */
 .nav {
    display: flex;
    justify-content: space-between;  /* Para que queden separados en izquierda y derecha */
 
    /* Para hacer responsive la barra del navegador */
    /* Cuando llegue a este tamaño el contenido se centra */
    /*max-width: 992px; /* Ancho de máximo */
    /* margin: 0 auto; */
 }
 
 .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;  /* Para que se quite lo subrayado o lo negrita al seleccionar */
    font-weight: bold;
 }
 
 .name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    text-transform: uppercase;
 
    display: flex; /* Establecer como flex container */
    align-items: center; /* Centrar verticalmente los elementos hijos */
 }
 
 .logo-img {
    max-width: 100px; /* Ajusta el valor según lo necesites */
    max-height: 60px; /* Ajusta el valor según lo necesites */
    vertical-align: middle; /* Para alinear verticalmente la imagen con el texto */
 }
 
 .store-name {
    margin-left: 10px; /* Espacio entre la imagen y el texto */
    text-transform: uppercase; /* Pone en mayúsculas las letras */
 }
 
 .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none; /* Para quitar los puntos de la lista */
 }
 
 .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase; /* Para que quede alineado en horizontal */
    width: max-content; /* Para que las palabras no se corten */
 }
 
 /* Sombreado de los elementos de la barra */
 .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
 }
 
 .nav-menu-link:hover {
    background-color: #c7a549;
    transition: .5s;  /* Para que la transición al pasar el cursos sea suave*/
 }
 
 .nav-toggle {
    color:white;
    background-color: none;
    border: none;
    font-size: 100px;
    padding: 0 20px;
    line-height: 60px;
 
    display: none;
 }

 /* Diseño del producto */

 .imagen {
    float: left;
    width: 50%;
}

.imagen img {
    max-width: 100%;
    height: auto;
    display: block;
}

.description {
    float: right;
    width: 50%;
    padding-left: 20px;
    display: flex; /* Utilizamos flexbox para alinear verticalmente */
    flex-direction: column; /* Apilamos elementos verticalmente */
    justify-content: center; /* Centramos verticalmente */
}

.description h1 {
    text-align: center;
    margin: 20px;
}

.description p {
    margin: 10px;
    text-align: center;
}

.cart {
    clear: both; /* Elimina el solapamiento */
    display: block; /* Convierte el botón en un bloque para que ocupe el ancho */
    margin-top: auto; /* Alineamos el botón al final del contenedor */
    background-color: #EDC557;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    width: 100%; /* Aseguramos que el botón ocupe todo el ancho del contenedor */
    margin: 10px 0;
}
 
 .cart:hover {
    background-color: #c7a549;
 }